<div class="card">
  <form [formGroup]="productSearchForm">
    <div class="formgrid grid">
      <div class="field col-6 xl:col-2">
        <label for="code" class="block">Código</label>
        <input
          pInputText
          mask="000000"
          id="code"
          type="text"
          class="w-full"
          formControlName="code"
        />
      </div>

      <div class="field col-6 xl:col-4">
        <label for="description" class="block">Descrição</label>
        <input
          pInputText
          id="description"
          type="text"
          class="w-full"
          formControlName="description"
        />
      </div>

      <div class="field col-6 xl:col-2">
        <label for="cost" class="block">Custo</label>
        <input
          pInputText
          id="cost"
          type="text"
          class="w-full"
          formControlName="cost"
          mask="separator.!"
        />
      </div>

      <div class="field col-6 xl:col-2">
        <label for="shopPrice" class="block">Preço de Venda</label>
        <input
          pInputText
          id="shopPrice"
          type="text"
          class="w-full"
          formControlName="shopPrice"
          mask="separator.!"
        />
      </div>

      <div
        class="field flex justify-content-start xl:justify-content-center align-items-end gap-3 col-12 xl:col-2"
      >
        <button
          pButton
          label="Buscar"
          class="p-element p-ripple p-button-raised p-button-primary p-button p-component w-6 xl:w-6"
          icon="pi pi-search"
          iconPos="left"
          (click)="onSearch()"
        ></button>
        <button
          pButton
          label="Limpar Filtros"
          class="p-element p-ripple p-button-raised p-button-secondary p-button p-component w-6 xl:w-8"
          icon="pi pi-times"
          iconPos="left"
        ></button>
      </div>
    </div>
  </form>
</div>
