<div class="card">
  <form [formGroup]="productSaveForm">
    <div class="formgrid grid">
      <div class="field col-6 xl:col-3">
        <label for="code" class="block">Código</label>
        <input
          pInputText
          id="code"
          type="number"
          class="w-full"
          formControlName="code"
        />
      </div>

      <div class="field col-6 xl:col-3">
        <label for="description" class="block">Descrição</label>
        <input
          pInputText
          id="description"
          type="text"
          class="w-full"
          formControlName="description"
        />
      </div>

      <div class="field col-12 xl:col-3">
        <label for="cost" class="block">Custo</label>
        <input
          pInputText
          id="cost"
          type="number"
          class="w-full"
          formControlName="cost"
        />
      </div>

      <div class="field col-12 xl:col-3">
        <label for="image" class="block">Imagem</label>
        <p-fileUpload
          id="image"
          name="demo[]"
          (onUpload)="onUpload($event)"
          [multiple]="false"
          accept="image/*"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
  </form>
</div>
