<p-confirmDialog />

<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'"
  [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"
/>

<app-dialog-shops
  [display]="openModal"
  [shopData]="shopData"
  [product]="product"
  (closedModal)="dialogClosed($event)"
  (closedModalEdit)="dialogClosedEdit($event)"
/>

<div class="grid">
  <div class="col-12 xl:col-9">
    <app-form-product-register [product]="product">
      <p-fileUpload
        id="image"
        name="demo[]"
        (onUpload)="onUpload($event)"
        [multiple]="false"
        accept=".jpg,.png"
        [auto]="true"
        customUpload="true"
        [showUploadButton]="false"
        [showCancelButton]="true"
        (onSelect)="onSelect($event)"
        (onRemove)="clearAndSetDefault()"
      >
        <ng-template pTemplate="content">
          <div *ngIf="uploadedFiles.length" class="text-center">
            <img
              *ngFor="let file of uploadedFiles"
              [src]="
                file.buffer ? (file.buffer | bufferToImage) : file.objectURL
              "
              style="max-width: 300px; max-height: 300px"
              alt="uploaded image"
            />
          </div>
        </ng-template>
      </p-fileUpload>
    </app-form-product-register>
    <app-list-shops
      [product]="product"
      (addPriceEmitter)="openDialogAddPrice()"
      (editPriceEmitter)="openDialogAddPrice($event)"
      (deletePriceEmitter)="deleteShopFromObject($event)"
    />
  </div>
  <div class="col-12 hidden xl:col-3 xl:block">
    <div class="card">
      <p-fileUpload
        id="image"
        name="demo[]"
        (onUpload)="onUpload($event)"
        [multiple]="false"
        accept=".jpg,.png"
        [auto]="true"
        customUpload="true"
        [showUploadButton]="false"
        [showCancelButton]="true"
        (onSelect)="onSelect($event)"
        (onRemove)="clearAndSetDefault()"
      >
        <ng-template pTemplate="content">
          <div *ngIf="uploadedFiles.length" class="text-center">
            <img
              *ngFor="let file of uploadedFiles"
              [src]="
                file.buffer ? (file.buffer | bufferToImage) : file.objectURL
              "
              style="max-width: 300px; max-height: 300px"
              alt="uploaded image"
            />
          </div>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
</div>
