<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'"
  [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"
/>
<p-dialog
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw', 'min-height': '600px' }"
  [draggable]="false"
  (onHide)="onClose()"
>
  <ng-template pTemplate="header">
    <div class="custom-header flex align-items-center justify-content-center">
      <p-button
        icon="pi pi-save"
        label="Salvar"
        (click)="onSave()"
        severity="success"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="dialog-content">
      <form [formGroup]="dialogForm">
        <div class="xl:flex block">
          <div class="field xl:col-6 col-12 shop-dropdown-content">
            <label for="shops" class="block">Loja *</label>
            <p-dropdown
              id="shops"
              formControlName="selectedShop"
              [options]="(shops$ | async) ?? []"
              [checkmark]="true"
              [showClear]="true"
              placeholder="Selecione uma loja"
              optionLabel="displayName"
              [ngClass]="{
                'p-invalid':
                  dialogForm.get('selectedShop')?.invalid &&
                  dialogForm.get('selectedShop')?.touched,
              }"
            ></p-dropdown>
            <div
              *ngIf="
                dialogForm.get('selectedShop')?.invalid &&
                dialogForm.get('selectedShop')?.touched
              "
            >
              <small
                class="p-error"
                *ngIf="dialogForm.get('selectedShop')?.errors?.['emptyShop']"
              >
                Selecione uma loja.
              </small>
            </div>
          </div>
          <div class="field xl:col-6 col-12">
            <label for="shopPrice" class="block">Preço de Venda *</label>
            <input
              pInputText
              id="shopPrice"
              type="text"
              class="w-full"
              formControlName="shopPrice"
              ngxMask
              mask="separator.3"
              prefix="R$ "
              thousandSeparator=","
              decimalMarker="."
            />
            <div
              *ngIf="
                dialogForm.get('shopPrice')?.invalid &&
                dialogForm.get('shopPrice')?.touched
              "
            >
              <small
                class="p-error"
                *ngIf="dialogForm.get('shopPrice')?.errors?.['required']"
              >
                O preço de venda é obrigatório.
              </small>
              <small
                class="p-error"
                *ngIf="dialogForm.get('shopPrice')?.errors?.['pattern']"
              >
                O preço deve ser um número válido (máximo 13 dígitos inteiros e
                até 3 casas decimais).
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</p-dialog>
