<div class="card">
  <div class="title-list-table">
    <h1>Produtos</h1>
  </div>

  <p-table
    [value]="products"
    dataKey="id"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap justify-content-end gap-2">
        <p-button
          label="Expand All"
          icon="pi pi-plus"
          text
          (onClick)="expandAll()"
        />
        <p-button
          label="Collapse All"
          icon="pi pi-minus"
          text
          (onClick)="collapseAll()"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="id">Código <p-sortIcon field="id" /></th>
        <th>Imagem</th>
        <th pSortableColumn="description">
          Descrição <p-sortIcon field="description" />
        </th>
        <th pSortableColumn="cost">Custo (R$) <p-sortIcon field="cost" /></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="product"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ product.id }}</td>
        <td>
          @if (product.image) {
            <img
              [src]="product.image | bufferToImage"
              alt="Imagem do produto"
              width="70"
              class="shadow-4 border-round-xs"
            />
          } @else {
            <img
              src="assets/images/no-image.jpg"
              alt="Imagem dizendo que não foi cadastrada nenhuma imagem para este produto"
              width="70"
              class="shadow-4 border-round-md"
            />
          }
          <!-- <img
            [src]="
              'https://primefaces.org/cdn/primeng/images/demo/product/' +
              product.image
            "
            [alt]="product.name"
            width="50"
            class="shadow-4"
          /> -->
        </td>
        <td>{{ product.description }}</td>
        <td>{{ product.cost | currency: 'BRL' }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="editProduct(product)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteProduct(product)"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-product>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="product.shops" dataKey="shopId">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="shopId">
                    Código <p-sortIcon field="shopId" />
                  </th>
                  <th pSortableColumn="description">
                    Loja <p-sortIcon field="description" />
                  </th>
                  <th pSortableColumn="shopPrice">
                    Preço <p-sortIcon field="shopPrice" />
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-shop>
                <tr>
                  <td>{{ shop.idShop }}</td>
                  <td>{{ shop.description }}</td>
                  <td>{{ shop.shopPrice | currency: 'BRL' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">
                    Não existe preços de lojas para este produto neste momento
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
